@charset "UTF-8";

/* ----------------------------------------------------------
  Wrapper
---------------------------------------------------------- */

.wpu_gnews_buttons_wrapper {
    display: flex;
    z-index: 0;
    position: relative;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    font-size: 2em;
    line-height: 1;
}

.wpu_gnews_buttons_button {
    display: flex;
    z-index: 1;
    position: relative;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    height: 2em;
    text-align: left;
    text-decoration: none!important;
    line-height: 2;
    white-space: nowrap;
    vertical-align: top;
}

@media (max-width:768px) {
    .wpu_gnews_buttons_wrapper {
        font-size: 1.5em;
    }
}

/* ----------------------------------------------------------
  Add source
---------------------------------------------------------- */

.wpu_gnews_buttons_addsource {
    min-width: 6em;
}

.wpu_gnews_buttons_addsource img {
    z-index: 1;
    width: auto;
    height: 100%;
    object-fit: contain;
}

img.wpu_gnews_buttons_addsource_dark {
    display: none;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}

/* ----------------------------------------------------------
  Follow us
---------------------------------------------------------- */

.wpu_gnews_buttons_followus {
    gap: 0.5em;
    padding: 0 0.5em;
    border: 1px solid;
    border-radius: 0.25em;
}

.wpu_gnews_buttons_followus img {
    width: 1.25em;
    height: 1.25em;
}

.wpu_gnews_buttons_followus span {
    font-size: 0.5em;
}
